name: Development

on:
  push:
    branches: [ dev-master ]
  pull_request:
    branches: [ dev-master ]

jobs:

  deploy:
    runs-on: ubuntu-latest
  
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        
      - name: Deployment
        uses: appleboy/ssh-action@master

        with:
          host: ${{ secrets.SSH_HOST }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          username: ${{ secrets.SSH_USERNAME }}
          script: |
            cd /var/www/demo/cicd_dev
            git checkout -f 
            git pull origin dev-master